@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    text-decoration: none;
    color: #333;
    background-color: rgb(224, 250, 253);
    padding: 5px;
}
li {
    margin-bottom: 15px;
}
.title {
    text-align: center;
}
.title p {
    margin-top: 10px;
}
.content {
    margin: 50px;
}

