@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.meme-generator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #333;
    max-width: 100%;
}

.meme-generator img {
    height: 400px;
    object-fit: cover;
    margin: 10px 0;
}
.meme-generator-btn {
    background-color: white;
    padding: 15px 30px;
    border: 1px solid #5ca0aa;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    font-size: 16px; 
    color: #333   
}

.meme-generator-btn:hover {
    background-color: #5ca0aa;
    color: #fff;
}

.meme-generator .meme-author {
    margin: 10px;
}

