.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.numrousell,
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.digit {
  display: flex;
  flex-direction: column;
}
.digit > h2 {
  font-size: 64px;
}

.digit > p {
  font-size: 16px;
}
